---
import { Image } from "astro:assets";

import banner from "../images/banner.png";
import icon from "../images/favicon.png";
import { GIT_BRANCH, GIT_HASH, GIT_REPO } from "astro:env/client";
---

<div
    class="w-full bg-dark flex flex-col justify-center items-center p-10 footer"
>
    <Image
        src={banner}
        alt="Luna Pixel Studios logo"
        class="w-15% mb-2.5 logo"
    />
    <p class="font-mc-mono font-lg flex flex-row items-center justify-between">
        <Image
            src={icon}
            alt="Luna Pixel Studios logo"
            class="w-10% rd-lg logo-2"
        />
        &copy; 2024 Luna Pixel Studios
    </p>
    <a
        class="font-mc-mono underline text-sm hash"
        href={`${GIT_REPO}/commit/${GIT_HASH}`}
        target="_blank"
        >{GIT_REPO.split("/")[GIT_REPO.split("/").length - 1]}/{GIT_BRANCH}@{
            GIT_HASH
        }</a
    >
</div>

<style lang="scss">
    .logo-2 {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .footer {
            padding: 1rem;
        }

        .logo {
            display: none;
        }

        .logo-2 {
            display: block;
        }

        .hash {
            text-align: right;
            width: 100%;
        }
    }
</style>
