---
import type { CurseForgeMod } from "curseforge-api";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
import { formatNumber } from "../../../api/fmt";
import { marked } from "marked";
import { Icon } from "astro-icon/components";
import type { CommonProject } from "../../../api/schema/project";

const { id, source } = Astro.params;

const data: CommonProject = await fetch(
    new URL(`/api/projects/${source}/${id}`, Astro.url),
).then((v) => v.json());

const downloads = formatNumber(data.downloads);
---

<Layout title="Luna Pixel Studios | Home">
    <main class="w-full h-full m-0 p-0 b-0">
        <Header />

        <div
            class="flex flex-row items-center justify-between pb-4 pt-4 position-fixed header bg-cdark"
        >
            <div class="flex flex-row items-center justify-start">
                <img src={data.iconUrl} alt={data.name} class="w-5rem rd-lg" />

                <div class="flex flex-col ml-5">
                    <a
                        class="text-3xl font-mc flex flex-row items-center justify-start title"
                        href={data.url}
                        target="_blank"
                        >{data.name}
                        <Icon
                            name="fa6-solid:arrow-up-right-from-square"
                            class="ml-4 text-20pt text-green hover:color-green-8 transition-all transition-duration-250 out"
                        /></a
                    >

                    <p
                        class="text-xl font-mc-mono flex flex-row items-center justify-start desc"
                    >
                        by {data.author} | {downloads}
                        Downloads<span
                            class="mobile-hide flex flex-row items-center justify-start"
                            >&nbsp;| {
                                data.sources.curseforge ? (
                                    <a
                                        href={data.sources.curseforge}
                                        class="flex flex-row items-center justify-start ml-3 mr-5 underline underline-curseforge"
                                    >
                                        <Icon name="curseforge" />
                                        <span class="text-curseforge ml-3">
                                            CurseForge
                                        </span>
                                    </a>
                                ) : (
                                    ""
                                )
                            }
                            {
                                data.sources.modrinth ? (
                                    <a
                                        href={data.sources.modrinth}
                                        class="flex flex-row items-center justify-start underline underline-modrinth"
                                    >
                                        <Icon name="modrinth" />
                                        <span class="text-modrinth ml-3">
                                            Modrinth
                                        </span>
                                    </a>
                                ) : (
                                    ""
                                )
                            }</span
                        >
                    </p>
                    <p
                        class="font-mc-mono text-xl flex flex-row items-center justify-start mobile-show"
                    >
                        {
                            data.sources.curseforge ? (
                                <a
                                    href={data.sources.curseforge}
                                    class="flex flex-row items-center justify-start mr-5 underline underline-curseforge"
                                >
                                    <Icon name="curseforge" />
                                    <span class="text-curseforge ml-3">
                                        CurseForge
                                    </span>
                                </a>
                            ) : (
                                ""
                            )
                        }
                        {
                            data.sources.modrinth ? (
                                <a
                                    href={data.sources.modrinth}
                                    class="flex flex-row items-center justify-start underline underline-modrinth"
                                >
                                    <Icon name="modrinth" />
                                    <span class="text-modrinth ml-3">
                                        Modrinth
                                    </span>
                                </a>
                            ) : (
                                ""
                            )
                        }
                    </p>
                </div>
            </div>

            <div class="flex flex-row items-center justify-end mobile-hide">
                <a
                    href={data.downloadLink}
                    class="flex flex-row items-center justify-end bg-green-6 p-2 pl-3 pr-3 rd-lg font-mc-mono hover:bg-green-8 transition-all transition-duration-250"
                >
                    <Icon name="fa6-solid:arrow-down" class="mr-3" />
                    Download</a
                >
            </div>
        </div>

        <div class="w-full p-2rem main">
            <div
                set:html={marked(data.description)}
                class="project-desc mt-8rem font-mc-mono"
            />

            <script>
                const desc = document.querySelector(".project-desc")!;
                const spoilers = desc.querySelectorAll(".spoiler");
                const imgs = desc.querySelectorAll("img");

                for (const spoiler of spoilers) {
                    const el = document.createElement("button");

                    el.className =
                        "spoiler-opener font-mc-mono rd-lg color-green-6 hover:color-green-2 transition-all transition-duration-250";
                    el.innerText = "Show Spoiler";

                    el.addEventListener("click", () => {
                        spoiler.classList.toggle("active");
                    });

                    desc.insertBefore(el, spoiler);
                }

                for (const img of imgs) {
                    img.src = `/api/image?url=${encodeURIComponent(img.src)}`;
                }
            </script>
        </div>

        <Footer />
    </main>
</Layout>

<style lang="scss">
    .main {
        margin-top: 2rem;
    }

    .header {
        width: calc(100% - 2rem);
        margin-top: 3rem;
        padding: 1rem;
    }

    .mobile-show {
        display: none;
    }

    @media screen and (max-width: 1100px) {
        .main {
            padding: 0.5rem;
            margin-top: 5rem;
        }

        .header {
            width: 100%;

            .title {
                font-size: 14pt;
            }

            .desc {
                font-size: 12pt;
            }

            .out {
                display: none;
            }
        }

        .mobile-hide {
            display: none;
        }

        .mobile-show {
            display: flex;
        }
    }
</style>

<style lang="scss" is:global>
    .project-desc {
        a {
            text-decoration: underline;
        }

        .spoiler {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.25s ease;

            &.active {
                max-height: unset;
            }
        }
    }
</style>
